@main() {
<div id="main"></div>


<!-- Template -->
<script type="text/javascript">var TMPL = {}</script>
<script type="text/javascript" src="@routes.Assets.versioned("template/common/panel.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("template/Tweet/TweetComposite.js")"></script>

<!-- Js Client Side Scripts -->
<!-- Tweet -->
<script type="text/javascript" src="@routes.Assets.versioned("js/Tweet/TweetModel.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("js/Tweet/TweetView.js")"></script>

<!-- Layout View-->
<script type="text/javascript" src="@routes.Assets.versioned("js/RootLayoutView.js")"></script>

<!-- Main -->
<script type="text/javascript" src="@routes.Assets.versioned("js/Application.js")"></script>
}
